## Ignore all .NET build output directories
**/bin/**
**/obj/**

## Optional: common compiled artifacts
**/*.dll

## OS/editor cruft
.DS_Store
.idea/
.vscode/

*.class

## Next.js build output and node modules
frontend/.next/
**/node_modules/**
